# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.out
*.app
# env
.env
# Test binaries
*.test

# Output of the go coverage tool
*.coverprofile

# IDE/editor folders and files
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Database files
tasks.db

# Logs
*.log

# Dependency directories (if not vendoring)
bin/
